*.svg
*.vtk
**/Makefile
**/CMakeFiles/
**/CMakeCache.txt
**/cmake_install.cmake
**/main
**/output/
**/CMakeLists.txt
**/**.submit
**/logs/*
**/Data/*
**/**/**/**/__pycache__/
**/**/**/**/*.submit
**/**/**/**/*.gif
.vscode/c_cpp_properties.json
.vscode/settings.json
.gitignore
Elastodynamics/FOM/.cproject
Elastodynamics/FOM/.project
Heat/FOM/all_at_once/.cproject
Heat/FOM/slabwise/.cproject
Wave/FOM/.cproject
Wave/FOM/.project
Heat/FOM/slabwise/.project
Heat/FOM/all_at_once/.project
Elastodynamics/ROM/main.cc
Elastodynamics/ROM/iROM.h
