*.svg
*.vtk
**/Makefile
**/CMakeFiles/
**/CMakeCache.txt
**/cmake_install.cmake
**/main
**/output/
**/CMakeLists.txt
**/**.submit
**/logs/*
**/Data/*
**/**/**/**/__pycache__/
**/**/**/**/*.submit
**/**/**/**/*.gif
Heat/ROM/2D/slabwise/condor.submit
Heat/ROM/2D/slabwise/dual_solution.gif
